.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }

  .icon-button{
    background-color: #333;
    color: white;
    /* flex: 1; */
    position: fixed;
    /* align-self: flex-start; */
    left: 0.5%;
    top: 1.5%;
  }  
  .navbar-left h1 {
    color: white;
    margin: 0;
    position: relative;
    left: 55%;
    /* flex: 2; */
  }
  
  .navbar-right {
    /* flex: 4; */
    display: flex;
    align-items: center;
  }
  
  .navbar-right a, .navbar-right button {
    color: white;
    padding: 10px;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar-right a:hover, .navbar-right button:hover {
    background-color: #555;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
    /* left: -140%; */
  }
  
  .dropdown:hover .dropbtn {
    background-color: #555;
  }
  